body{

    background-color: #9BF6E1;
    font-family: Arial;

}

input{

    border: solid 3px white;
    border-radius: 3px;

}

button{

    background-color: black;
    color: azure; 
    border: solid 8px black;
    border-radius: 3px;

}